
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    /* li{
        list-style: none;
    } */
    .text-right li {
        display:inline;
    }
    
    .text-right {
        text-align: right;
        list-style: none;
        overflow: hidden;
    }
    
    .navbarlink {
        float: right;
        color: black;
        text-align: center;
        padding: 14px 16px;
        font-size: 20pt;
    }
    
    /* .navbarlink:hover {  
      background-color:blue;
    }
    
    .hero {
        width: 100%;
        height: 10%;
    }
    
    .hero-text{
        position: absolute;
        top: 15%;
        right: 5%;
        color: black;
        background-color:aliceblue;
    } */
    
    .placeholder_container img {
        border: 2px red solid
    }
    
    .placeholder_container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }
    
     .work-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    
    .work-container h1 {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .flex{
         display: flex;
        justify-content: center;
    }
    .flex p {
        padding-left: 20px;
        padding-top: 20px;
    }
    
    .larger_image {
        /* display: flex;
        justify-content: center; */
        height: 30rem;
        /* width: 10%; */
    }
    
    .About_Me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
    }
    
    .About_Me h1 {
        text-align: center;
    }
    
    .About_Me p {
        text-align: center;
    }
    
    .contact_me {
        display: flex;
    }
    
    .image_1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
          }
    
    .image_1 :hover {
        opacity:1;
    }
    
      .image_2 {
        display: flex;
        justify-content: center;
      }
    
      .class_project {
        display: flex;
      }
    
    
    
    .class_project {
        display:flex;
        justify-content: flex-end;
    }
    
    .box {
     display: flex;
     /* justify-content: flex-end;
     align-items: end; */
     min-height: 200px;
     max-height:  200px;
     flex-basis: calc(50% - 16px);
     margin: 8px;
    }
    
    .box1{
        background-image: url('./ComingSoon.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    footer{
        display: flex;
        justify-content: space-evenly;
        padding-top: 5%;
       
    }
    
    footer ul{
        display: flex;
        margin-left:20px;
        }
    
    footer ul li{
        margin-left: 10px;
        display: flex;
        justify-content: flex-start;    
    }

    .mb-3{
        
    }
    
    